{% extends "base.html" %}

{% block title %}
<title>Daily Task</title>
{% endblock title %}
{% block body %}
<div class="container p-0">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 mt-2 mb-3 ">
            <h4 class="bg-primary text-center text-light badge-pill p-3">Daily Task</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 ">
            <div class="card" style="width: 24rem;">
                <div class="card-header ">
                    Do Task
                </div>

                <ul class="list-group list-group-flush">
                    {% if do_task %}
                    
                    
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Title</th>
                                <th scope="col">Delivery</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in do_task %}
                            <th scope="row">{{forloop.counter}}.</th>
                            <td>{{ i.title }}</td>
                            <td>{{i.delivery}}</td>
                            <td><a type="button" class="btn btn-outline-primary" href="{% url 'move-task' i.id 'move working' %}">Working</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    

                    {% else %}
                    <h4 class="text-muted text-center">No Task!</h4>
                    {% endif %}
                </ul>

            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width: 24rem;">
                <div class="card-header">
                    Working Task
                </div>
                {% if working_task %}
                <ul class="list-group list-group-flush">
                    


                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Title</th>
                                <th scope="col">Delivery</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in working_task %}
                            <th scope="row">{{forloop.counter}}.</th>
                            <td>{{ i.title }}</td>
                            <td>{{i.delivery}}</td>
                            <td><a type="button" class="btn btn-outline-success" href="{% url 'move-task' i.id 'move done' %}">Done</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    

                    {% else %}
                    <h4 class="text-muted text-center">No Task!</h4>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 24rem;">
                <div class="card-header">
                    Done Task
                </div>
                <ul class="list-group list-group-flush">
                    {% if done_task %}
                    
                    
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Title</th>
                                <th scope="col">Delivery</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in done_task %}
                            <th scope="row">{{forloop.counter}}.</th>
                            <td>{{ i.title }}</td>
                            <td>{{i.delivery}}</td>
                            <td><a type="button" class="btn btn-outline-danger" href="{% url 'move-task' i.id 'done' %}">Complete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    


                    {% else %}
                    <h4 class="text-muted text-center">No Task!</h4>
                    {% endif %}
                </ul>
            </div>
        </div>
        
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 mt-2 mb-3 ">
            <h4 class="bg-primary text-center text-light badge-pill p-3">Completed Task</h4>
        </div>

        </div>
        <div class="row ">
        <div class="col-md-10 mx-auto">
        
            <h2>{{complete_task.title}}</h2>
            {% if complete_task %}
            
        
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Title</th>
                        <th scope="col">Issue Date</th>
                        <th scope="col">Delivery Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in complete_task %}
                    <th scope="row">{{forloop.counter}}.</th>
                    <td>{{ i.title }}</td>
                    <td>{{i.issue_date}}</td>
                    <td>{{i.delivery}}</td>
                    <td><a type="button" class="btn btn-outline-secondary" href="{% url 'move-task' i.id 'done' %}">Detail</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        
        
            {% else %}
            <h4 class="text-muted text-center">No Task!</h4>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock body %}