{% extends "base.html" %}

{% block title %}
<title>Departments</title>
{% endblock title %}
{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6 mt-2 mb-3 ">
            <h4 class="bg-primary text-center text-light badge-pill p-3">Our Departments</h4>
        </div>
    </div>
 <div class="row">
    {% for i in all_dept %}
    <div class="col-md-3">
        <div class="card text-center">
            <a href="{% url 'edit-department' i.id%}"><img src="{{i.image.url}}" class="card-img-top img-fluid img-thumbnail"
                    style="height:200px" alt="..."></a>
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">Manager: {{i.manager}}</p>
                <p class="card-text">Start Date: {{i.start_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
   
    
    <!-- <div class="col-md-12">
           <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for i in all_dept %}
        <div class="col">
            <div class="card text-center">
                <a href="{% url 'edit-department' i.id%}"><img src="{{i.image.url}}" class="card-img-top img-fluid img-thumbnail" style="height:200px" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">Manager: {{i.manager}}</p>
                    <p class="card-text">Start Date: {{i.start_date}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    </div> -->
 </div>

</div>
{% endblock body %}
