{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add Employee</title>
{% endblock title %}
{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-2">
        <div class="col-md-6 mt-2 mb-2 ">
            <h4 class="bg-primary text-center text-light badge-pill p-3">Edit User Informations</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form class="row g-4" method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputName4" class="form-label">Name</label>
            
                    {{form.name}}
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
            
                    {{form.email}}
                </div>
            
                <div class="col-md-6">
                    <label for="inputPhone4" class="form-label">Phone </label>
            
                    {{form.phone}}
                </div>
                <div class="col-md-6">
                    <label for="inputNid4" class="form-label">NID number</label>
            
                    {{form.nid}}
                </div>
                <div class="col-md-6">
                    <label for="inputNid4" class="form-label">Father Name</label>
            
                    {{form.father_name}}
                </div>
                <div class="col-md-6">
                    <label for="inputNid4" class="form-label">Mother Name</label>
            
                    {{form.mother_name}}
                </div>
            
                <div class="col-md-6">
                    <label for="inputSalary" class="form-label">Salary</label>
            
                    {{form.salary}}
                </div>
                <div class="col-md-6">
                    <label for="inputDistrict" class="form-label">District</label>
            
                    {{form.district}}
                </div>
            
                <div class="col-md-3">
                    <label for="inputSsc" class="form-label">SSC</label>
                    {{form.ssc}}
                </div>
                <div class="col-md-3">
                    <label for="inputHsc" class="form-label">Hsc</label>
                    {{form.hsc}}
                </div>
                <div class="col-md-3">
                    <label for="inputHoner" class="form-label">Honer's</label>
                    {{form.honors}}
                </div>
                <div class="col-md-3">
                    <label for="inputMasters" class="form-label">Masters</label>
                    {{form.masters}}
                </div>
                <div class="col-md-6">
                    <label for="inputImage" class="form-label">Image</label>
            
                    {{form.image}}
                </div>
                <!-- <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                </div> -->
                <div class="col-md-12 my-3 ">
            
                    <div class="d-grid gap-2 col-4 mx-auto d-block">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  
    
    </div>

</div>
{% endblock body %}