{% extends "base.html" %}
{% block body %}
<style>
    a:hover {
        text-decoration: None;
    }

    a {
        color: black;
    }
</style>
<div class="row mb-2 mt-4">
    <div class="col-md-4 mx-auto badge-info text-center p-2 badge-pill ">
        <h4>Attendance Report</h4>
        
    </div>
    <!-- <form action="" class="col-md-12 mb-2 card card-body ">
        <div class="text-center">
            {{attendfilter.form}}
            <button type="submit" class="btn btn-primary badge-pill">Search</button>
    
        </div>
    </form> -->
</div>
    {% if attend %}
<div class="col-md-6 mx-auto">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
    
            </tr>
        </thead>
        <tbody>
            {% for i in attend %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td colspan="2">{{i.attender}}</td>
                <td>{{i.datetime.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h4 class="text-muted text-center">No Attendance yet!</h4>
{% endif %}
{% endblock body %}
